body {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}
main {
    width: 100%;
    max-width: 850px;
    margin: 10px auto;
    text-align: center;
}
#timer {
    font-family: 'Lato', sans-serif;
    font-size: 650%;
}
#timer div {
    display: inline-block;
    padding: 5px;
}
#buttons {
    clear: both;
}
button {
    background-color: bisque;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #1e1e1e;
}
button:first-of-type {
    margin-right: 20px;
}
