body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: darkblue;
    color: white;
}

h1 {
    text-align: center;
}

#slides {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1em;
}

#slides figure {
    padding: 0;
    margin: 0;
    position: relative;
}

#slides img {
    max-width: 100%;
    background-color: white;
    padding: 1em;
    box-sizing: border-box;
}

figcaption {
    display: none;
    background-color: rgba(30, 30, 30, .75);
    position: absolute;
    z-index: 100;
}
